<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/layout/layoutOfWeb}">
<head>
    <title>Bài viết</title>
    <script th:inline="javascript">
        var totalPages = [[${blog.totalPage}]];
		var currentPage = [[${blog.page}]];
		$(function () {
	        window.pagObj = $('#pagination').twbsPagination({
	            totalPages: totalPages,
	            visiblePages: 10,
	            startPage: currentPage,
	            onPageClick: function (event, page) {
	            	if (currentPage != page) {
	            		$('#limit').val(2);
						$('#page').val(page);
						$('#formSubmit').submit();
					}
	            }
	        });
    	});
    </script>
</head>
<body>
    <div layout:fragment="content">
        <section class="ftco-section">
            <div class="container">
                <form id="formSubmit">
                <div class="row d-flex">
                    <th:block th:each="item : ${blog.listResult}">
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch">
                            <a th:href="@{/bai-viet/chi-tiet(id=${item.id})}">
                                <img class="block-20" th:src="@{(${item.thumbnail})}">
                            </a>
                            <div class="text py-4 d-block">
                                <div class="meta">
<!--                                    <div>Sept 28, 2018</div>-->
                                </div>
                                <h3 class="heading mt-2"><a th:href="@{/bai-viet/chi-tiet(id=${item.id})}" th:text="${item.title}"></a></h3>
                                <p th:text="${item.description}"></p>
                            </div>
                        </div>
                    </div>
                    </th:block>
                    <input type="hidden" value="" id="page" name="page"/>
                    <input type="hidden" value="" id="limit" name="limit"/>
                </div>
                </form>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul id="pagination"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>